.todo-item{
    /* border: 1px solid black; */
    border-bottom: 1px solid black;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
